<nb-layout>
    <nb-layout-column>
    <nb-card>
        <nb-card-header>Login</nb-card-header>
        <nb-card-body>
          <form [formGroup]="loginForm" novalidate>
            <label>Email</label>
            <input nbInput formControlName="email"> <br /><br />  
            <label>password</label>
            <input nbInput formControlName="password"><br /><br />
          </form>
        </nb-card-body>
      <nb-card-footer>
          <button nbButton (click)="tryLogin(loginForm.value)">Sign In</button>
          <button nbButton (click)="tryGoogleLogin()" status="danger">Sign with google</button>
          No account yet? <a routerLink="/register">Create an account</a>
      </nb-card-footer>
      </nb-card>
    </nb-layout-column>
</nb-layout>