<nb-layout>
    <nb-layout-column>
    <nb-card>
      <nb-card-header>
        Basic form
      </nb-card-header>
      <nb-card-body>
        <form novalidate="" [formGroup]="registerForm">
          <div>
            <label for="exampleInputEmail1">Email address</label>
            <input nbInput formControlName="email"> <br /><br />  
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input nbInput formControlName="password"><br /><br />
          </div>
          <button nbButton class="btn btn-danger" (click)="tryRegister(registerForm.value)" type="submit">Submit</button>
        </form>
          <button nbButton (click)="tryGoogleLogin()">Register with Google</button> <br />
          <p>Already have an account? <a href="/login">Login</a></p>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
